* {
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  #portfolio .pofol6 {
    display: none;
  }
}

.mainimg {
  width: 25%;
  margin-bottom: 2px;
}

body {
  font-family: 'Do Hyeon', sans-serif;
}

body #nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 75px;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  max-width: 100%;
}

body #nav .firsta a {
  font-size: 35px;
}

body #nav .remaina {
  justify-content: end !important;
}

body #nav .remaina a {
  font-size: 25px;
  padding: 0 60px;
}

body #nav .remaina a:hover {
  color: #100979;
  font-weight: bolder;
}

#navbarNav {
  padding-right: 50px;
}

.navi1 {
  border-bottom: 2px solid #100979;
  position: relative;
  margin: 5px;
}

.navi2 {
  border-bottom: 2px solid #100979;
  position: relative;
  margin: 5px;
}

.navi3 {
  border-bottom: 2px solid #100979;
  position: relative;
  margin: 5px;
}

li {
  list-style: none;
}

.navibar {
  position: fixed;
  top: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: #100979;
}

.navco {
  margin-top: 12px;
}

.footer {
  width: 100%;
  height: 40px;
  bottom: 0;
  background-color: black;
}

.footer p {
  margin-top: 0s;
  margin-bottom: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 7px;
}

/*quick*/
#quick {
  position: fixed;
  right: -49px;
  bottom: 0;
  transform: translateY(-9%);
}

#quick li {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  margin: 5px;
}

#quick ul {
  width: 135px;
  margin-bottom: 30px;
}

#quick img {
  width: 30px;
}

.pofol1 {
  position: absolute;
  width: 331px;
  height: 400px;
  left: 13%;
  top: 16%;
  background-color: #f4f4f5;
  border-radius: 35px;
  text-align: center;
}

.pofol2 {
  position: absolute;
  width: 331px;
  height: 250px;
  left: 31.9%;
  top: 16%;
  background-color: #94e9e6;
  border-radius: 45px;
  text-align: center;
}

.pofol3 {
  position: absolute;
  width: 331px;
  height: 350px;
  right: 31.9%;
  top: 16%;
  background-color: #f4f4f5;
  border-radius: 35px;
  text-align: center;
}

.pofol4 {
  position: absolute;
  width: 331px;
  height: 270px;
  left: 13%;
  top: 60%;
  background-color: #f4f4f5;
  border-radius: 35px;
  text-align: center;
}

.pofol5 {
  position: absolute;
  width: 331px;
  height: 350px;
  left: 31.9%;
  top: 45%;
  background-color: #f4f4f5;
  border-radius: 35px;
  text-align: center;
}

.pofol6 {
  position: absolute;
  width: 331px;
  height: 330px;
  right: 31.9%;
  top: 55%;
  background-color: #94e9e6;
  border-radius: 35px;
  text-align: center;
}

.pofol7 {
  position: absolute;
  width: 331px;
  height: 450px;
  right: 13%;
  top: 16%;
  background-color: #f4f4f5;
  border-radius: 35px;
  text-align: center;
}

.pofol8 {
  position: absolute;
  width: 331px;
  height: 280px;
  right: 13%;
  top: 65.5%;
  background-color: #f4f4f5;
  border-radius: 35px;
  text-align: center;
}

.bootstrap {
  width: 20%;
}

#myability {
  position: relative;
  background-color: black;
  height: 300px;
  margin-top: 950px;
  opacity: 0.8;
}

#myability h3 {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 20px;
}
